<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="DatabaseConnection"
			 connectionString="Server=WIN-O82VJ8ERCT2;Database=WinePOS;User Id=sa;Password=P@ssw0rd123;"
			 providerName="System.Data.SqlClient" />-->
		<!--	<add name="DatabaseConnection"
			 connectionString="Server=97.74.86.102;Database=WinePOS;User Id=pavitra;Password=*Ved@05;"
			 providerName="System.Data.SqlClient" />-->
		<add name="DatabaseConnection"
			 connectionString="Server=WIN-O82VJ8ERCT2\MSSQLSERVER02;Database=WinePOS;User Id=sa;Password=P@ssw0rd123;"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
			</dependentAssembly>
			<!-- Repeat for other Crystal Reports assemblies if needed -->
		</assemblyBinding>
	</runtime>
</configuration>